<div class="container mt-2">
  <nav class="p-2 m-2 border ">
    <button class="btn btn btn-outline-dark" (click)="handelNewBill()">Add Facture</button>
  </nav>
  <ng-container *ngIf="factures" >
    <div class="card" *ngIf="factures">
      <div class="card-header">Factures</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Reference</th>
            <th>clientId</th>
            <th>prixTotal</th>
            <th>Details</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let f of  factures">
            <td>{{f.id}}</td>
            <td>{{f.reference}}</td>
            <td>{{f.clientId}}</td>
            <td>{{f.prixTotal}}</td>
            <td>
              <button class="btn btn-success" (click)="handleDetailBill(f)">
                Details
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLading >
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading ............
    </ng-template>
  </ng-template>
</div>
